body {
    margin: 0;
    padding: 0;
    background-color: #FAFBFC;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #444240;
}

.container {
    margin: 0 auto;
    padding: 0;
    width: 1660px;
    display: flex;
    justify-content: space-between;
}


/*Шляпа*/
.main-header {
    margin: 0;
    padding: 10px 0;
    background-color: #01194E;
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-general{
    display:flex;
}

.main-navigate {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main-navigat_static {
    display: flex;
    justify-content: space-between;
}

.nav-general_title {
    text-decoration: none;
    color: #fff;
    display: block;
    margin: 0;
}

.nav-general_title img {
    margin-top: 7px;
}

.nav-general_title-descripton {
    margin: 0;
    padding: 8px 0 10px 20px;
    font-size: 24px;
    line-height: 30px;
}

.site-nav {
    display: flex;
    list-style: none;
    margin: 20px;
    padding: 0;
}

.site-nav_item {
    margin: 0 0 0 70px;
    padding: 0;
    position: relative;
    
}

.site-nav_item-link {
    list-style: none;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    padding-left: 46px;
}

.site-nav_item-link svg {
    position: absolute;
    margin: 0;
    left: 0;
    fill: #B3BACA;
}

.item-active {
    font-size: 20px;
    font-weight: 600;
}

.item-active svg {
    fill: #fff;
}


/*Правая часть меню (пользователь)*/
.user-navigation {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 20px;
    justify-content: center;
    
}

.user-navigation_point {
    margin: 0 0 0 10px;
}


.user-menu {
    margin-top: 23px;
}

.user-dropdown, .user-menu {
  cursor: pointer; 
}

.user-menu.show .user-dropdown {
  box-shadow: 2px 2px 5px #B3BACA;
  display: block;
}

.user-dropdown {
  position: absolute;
  top: 98px;
  display: none;
  width: 240px;
  background-color: #fff;
}

.dropdown-item {
  color: #000;
    font-size: 16px;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.dropdown-item:active, .dropdown-item:hover {
  background-color: #01194E;
  color: #fff;
    font-weight: 600;
}



/*Заголовок и фильтры*/
.hat-spacer {
    display: flex;
    justify-content: space-between;
}

.subhat-spacer {
    font-size: 36px;
    font-weight: 700;
    margin: 50px 0 30px 0;
    padding: 0;
}


/*Блок с карточками*/
.summary-cards {
    margin: 40px auto;
}
.card-list {
    list-style: none;
    margin: 0 auto;
    padding: 0;  
    display: flex;
}

.card-list_item {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #B3BACA;
    padding: 20px;
    display: flex;
}

.item-info {
    margin-bottom: -20px;
    padding-bottom: -20px;
}

.card-list_item-value {
    font-size: 50px;
    line-height: 20px;
    font-weight: 700;
    margin: 20px 0 20px 0;
    padding: 0;
}

.card-list_item-description {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
}

.card-list_item::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 2.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
 
.card-list_item:hover {
  -webkit-transform: scale(1.01, 1.01);
  transform: scale(1.01, 1.01);
}
 
.box:hover::after {
    opacity: 1;
}


.card-list_grad {
    width: 110px; 
    height: 110px;
    margin: 0 0 0 110px;
    padding: 0;
    border-radius: 15px;
    background-image: linear-gradient(135deg, #5630C3, #CE25F4);
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Тепловая карта*/
.map {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #B3BACA;
    padding: 30px;
    width: 70%;
}

.heat-map {
    display: flex;
    justify-content: space-between;
}

.heat-map_head {
    margin: 0 0 20px 0;
    padding: 0;
    font-size: 22px;
    font-weight: 600;
}

.heat-map_status {
    list-style: none;
    margin: 0;
    padding: 0;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.heat-map_status li {
    padding-left: 25px;
    font-size: 16px;
}

.heat-map_status-bad {
    background: url('img/more-sq.svg') no-repeat 0 7px;
    margin-right: 20px;
}

.heat-map_status-good {
    background: url('img/less-sq.svg') no-repeat 0 7px;
}

#heat-custom-map {
    width: 100%;
    height: 400px;
    background-image: url(img/hotmap-bg.png);
    border-radius: 15px;
}

/*правый блок с новостишкой*/
.outage-news {
    position: relative;
    display: inline-block;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #B3BACA;
    padding: 30px;
    width: 19%;
    background-image: url(img/banner.jpg);
}

.outage-news:after {
    content: "";
	display: block;    
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;      
	left: 0;   
	background: transparent;
    background-image: linear-gradient(to right, rgba(86, 48, 195, 1), rgba(86, 48, 195, 0.5));
	opacity: 0.8;
    border-radius: 15px;
}

.outage-news-content {
    color: #fff;
    position: relative;
    font-size: 24px;
    line-height: 40px;
    font-weight: 600;
    z-index: 100;
}

.moar {
    text-decoration: none;
    color: #FFE000;
    font-size: 18px;
}

.moar img {
    margin-left: 10px;
}


/*Стили для СПИСКА*/
.container {
    margin: 0 auto;
    padding: 0;
    width: 1660px;
    display: flex;
    justify-content: space-between;
}

/*Фильтр*/
.filter-headline {
  width: 100%;
  margin: 0 0 40px 0;
  padding: 0;
  box-shadow: 2px 2px 5px #B3BACA;
}

.filter-el__list {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
}

.filter-listing {
  position: relative;
  top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.filter-listing li {
  margin: 0 20px 0 0;
}

.filter-listing label {
  position: relative;
  display: inline-block;
  line-height: 10px;
}

.enter-lab,
.exit-lab {
  top: -30px;
  width: 0;
}

.date-lab {
  margin-top: -20px;
}

/*Тоггл активности*/
.filter-check {
  height: 0;
  width: 0;
  visibility: hidden;
}

.filter-check-text {
  cursor: pointer;
  width: 44px;
  height: 22px;
  background: #A3A3A3;
  display: block;
  border-radius: 30px;
  position: relative;
}

.filter-check-text:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 50%;
  transition: 0.3s;
}

.filter-check:checked + label {
  background: #5630C3;
}

.filter-check:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.filter-check:active:after {
  width: 20px;
}


/*ТАБЛИЧКА*/
.tabular-data {
  overflow: hidden;
  position: relative;
  color: #3D4655;
}
.data-group {
  border-bottom: 2px solid #F2F2F2;
}
.data-header {
  font-weight: 500;
  font-size: 20px;
  color: #919BAC;
}
.row {width: 100%;}

.exp-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.exp-table {
    float: right;
    margin-top: 5px;
}

.incedent-close {
    position: relative;
    display:inline-block;
    overflow: hidden;
  padding: 20px 32px;
  line-height: 1.5;
  background-image: linear-gradient(135deg, #5630C3, #CE25F4);
  color: #eee;
  font-weight: 400;
  border-radius: 0;
  margin: .5em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  letter-spacing: .05em;
  transition: .5s ease all;
  max-width:100%;
  border-radius: .25em;
    text-align: center;
    margin: 0;
  padding: .75em 0;
  width: 100%;
    cursor: pointer;
		user-select: none
		transform: translate(-50%, -50%);

	font-weight: 600;
    float: right;
}

.header-row, .tb-row {
  display: flex;
  padding: 0;
  margin: 8px;
}
.tab-1 {width: 6%; padding-left: 20px;}
.tab-2 {width: 6%; margin-right: 20px;}
.tab-3 {width: 6%; margin-right: 20px;}
.tab-4 {width: 12%; margin-right: 20px;}
.tab-5 {width: 25%; margin-right: 40px;}
.tab-6 {width: 12%; margin-right: 20px;}
.tab-7 {width: 12%; margin-right: 20px;}
.tab-8 {width: 8%;}

#oval-green {
    stroke: #10A75E;
    stroke-width: 5px;
}

#oval-red {
    fill: #FAF1F1;
    stroke: #FF4B55;
    stroke-width: 5px;
    filter: drop-shadow(0 0 10px #F89CA1);
}

.row-alarm {
    font-weight: 700;
}

.info-desc p:last-child {
    margin-bottom: 30px;
}

.info-desc p:first-child {
    line-height: 12px;
}

.info-desc-head {
  font-weight: 700;
  font-size: 16px;
    line-height: 20px;
}
.info-desc-content {
  font-size: 14px;
}
.info-desc-content-list {
  list-style: none;
    margin: 0;
    padding: 0;
  height: 100px;
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap
}
.info-desc-content-list li {
  page-break-inside: avoid;
  break-inside: avoid;
  margin-right: 40px;
    font-size: 14px;
}
.info-desc-area {
  color: #5630C3;
    font-size: 14px;
}
.info-desc-area:after {
  position: absolute;
  content: '';
  height: 2px;
	bottom: -10px;
  margin: 0 auto;
	left: 0;
  right: 0;
	width: 100%;
	background: #5630C3;
}
.data-right {
    cursor: auto;
}

.data-right td {
  font-size: 14px;
    padding: 10px 20px;
}
.right-title {
  color: #B3BACA;
  font-size: 12px;
}
.right-title td {
    border-bottom: 1px solid #F2F2F2;
    padding: 0 20px;
}


.exp-info {
    border-left:3px solid #01194E;
padding-left:15px;
    margin-top: 10px;
    cursor: auto;
}

.data-group:last-child {border:none;}
.data-group .data-expands,
.data-group .expandable {
  will-change:
    max-height,
    padding,
    opacity,
    background;
  transition:
    ease max-height .5s,
    ease padding .5s,
    ease opacity .5s,
    ease background .5s;
}
.data-group .data-expands {
  cursor: pointer;
  padding: 10px 0;
  float:left;
  width: 100%;
}
.data-group .title {font-weight:600}
.data-group .expandable {
  transform-origin: top;
  margin: 0;
  padding: 0;
  font-weight: 400;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.data-group .expandable p {
  color: #3D4655;
}

.row-active, .row-open {
  opacity: 1 !important;
}
.row-open {
  max-height: 3000px !important;
}

@media screen and (max-width: 992px) {
  .data-group .title {display:inline-block;padding-bottom: 1em;}
}


/*Футер*/
.main-footer {
    margin-top: auto;
    color: #86939E;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
}


.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


/*карта списочная*/
.substation-map {
    width: 100%;
    height: 90%;
    background-color: #ccc;
}
